.heroSubtext,
.heroTagline {
  align-self: stretch;
  position: relative;
  line-height: 67px;
}
.heroSubtext {
  font-size: var(--font-size-base);
  line-height: 32px;
  font-family: var(--font-roboto);
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.searchFormLabel {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.radiobuttonuncheckedIcon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.padding {
  border-radius: var(--br-lg);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
}
.label {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 150%;
}
.radio {
  overflow: hidden;
}
.flightOptions,
.formTitleGroup,
.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.flightOptions {
  gap: var(--gap-lg);
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-200);
}
.formTitleGroup {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-2xs);
  gap: var(--gap-sm);
}
.departureAutocomplete {
  align-self: stretch;
  flex: 1;
}
.inputsRow {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.searchFlights {
  position: relative;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.buttonGroup,
.searchButton {
  display: flex;
  justify-content: center;
}
.searchButton {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-sm);
  background-color: var(--color-orange);
  border-radius: var(--br-sm);
  width: 164px;
  height: 56px;
  flex-shrink: 0;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.searchButton:hover {
  background-color: var(--color-darkgoldenrod);
}
.buttonGroup {
  flex-direction: column;
  padding: var(--padding-2xs);
  align-items: flex-start;
}
.formInputsRow,
.searchForm {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.searchForm {
  border-radius: var(--br-md);
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-md);
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
  font-family: var(--font-roboto);
}
.searchContainer,
.test2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchContainer {
  align-self: stretch;
  height: 640px;
  flex-shrink: 0;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-xl);
  background-image: url(/public/search-container@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.test2 {
  position: relative;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-baloo-bhai);
}
@media screen and (max-width: 960px) {
  .inputsRow {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .buttonGroup {
    width: 100%;
    text-align: left;
  }
  .formInputsRow,
  .searchForm {
    flex-direction: column;
  }
  .searchContainer {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .heroTagline {
    font-size: var(--font-size-lg);
    line-height: 48px;
  }
  .searchFormLabel {
    width: 100%;
    padding-bottom: var(--padding-sm);
    margin-bottom: 6px;
    flex: unset;
    align-self: stretch;
  }
  .flightOptions {
    width: 100%;
  }
  .formTitleGroup {
    flex-direction: column;
    align-items: flex-start;
  }
  .departureAutocomplete {
    flex: unset;
    align-self: stretch;
  }
  .inputsRow {
    flex-direction: column;
  }
  .searchButton {
    width: 100%;
  }
  .searchForm {
    margin-top: 20px;
  }
  .searchContainer {
    height: 800px;
  }
}
